page-more {
    a.terms {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    span.version {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}
