<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Chat Teacher </ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid *ngIf="uid">
    <ion-row *ngFor="let chat of chats">
      <ion-col col-2 *ngIf="chat.uid !== uid">
        <span class="user_image">
          <img src="{{ chat?.ImageUrl }}" *ngIf="chat.ImageUrl" alt="">
          <span class="user_text_image" *ngIf="!chat.ImageUrl"> {{ chat?.user | slice:0:1 }} </span>
        </span>
      </ion-col>
      <ion-col col-8 *ngIf="chat.uid !== uid" class="message" [ngClass]="{'my_message': chat.uid === uid, 'other_message': chat.uid !== uid}">
        <span class="user_name">{{ chat?.user }}:</span>
        <div style="clear:both"></div>
        <div class="message_content">
          <div class="message_text" [innerHTML]="chat?.message" (click)="handleClick($event)">
          </div>
          <br/>
          <div class="time">{{chat?.sendDate | date:'dd.MM hh:MM'}}</div>
        </div>
      </ion-col>
      <ion-col offset-2 col-8 *ngIf="chat.uid === uid" class="message" [ngClass]="{'my_message': chat.uid === uid, 'other_message': chat.uid !== uid}">
        <span class="user_name">{{ chat?.user }}:</span>
        <div style="clear:both"></div>
        <div class="message_content">
          <div class="message_text" [innerHTML]="chat?.message" (click)="handleClick($event)">
          </div>
          <br/>
          <div class="time">{{chat?.sendDate | date:'dd.MM hh:MM'}}</div>
        </div>
      </ion-col>
      <ion-col col-2 *ngIf="chat.uid === uid">
        <span class="user_image">
          <img src="{{ chat?.ImageUrl }}" *ngIf="chat.ImageUrl" alt="">
          <span class="user_text_image" *ngIf="!chat.ImageUrl"> {{ chat?.user | slice:0:1 }} </span>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="{{footerclass}}">
  <ion-toolbar>
    <ion-grid>
<form ng-submit="sendMessage()">

      <ion-row>
        <ion-col col-10 *ngIf="data">
          <ion-input type="text" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
        </ion-col>
        <ion-col col-2 *ngIf="uid">
          <button ion-button color="secondary" icon-left (click)="sendMessage()" block>
            <ion-icon name="paper-plane"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
</form>

    </ion-grid>
  </ion-toolbar>
</ion-footer>
